.points-bgc{
    background-color: rgba(110, 25, 70);
}

.badge-bgc{
    background-color: rgba(15, 40, 55);
}

.car1{
    background-color: rgb(225, 223, 164);
}

.car2{
    background-color: rgb(227, 236, 241);
}

.car3{
    background-color: rgb(244, 227, 229);
}